.App {
  text-align: center;
}
#root {
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding-bottom: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.boost {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.unlockable {
  min-height: 75px;

}
.App-header {
  background-color: #ffc107;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.badger-emoji {
  font-size: 75px;
  padding-bottom: 20px;
}

.address {
  font-size: 20px;
  height: 30px;
  width: 455px;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .address {
    width: 100%;
  }
}
.whitelist-text {
  font-size: 20px;
  height: 30px;
}
.whitelist {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

.underline-title {
  text-decoration: underline;
  margin: 15px;
}

.conditions {
  font-size: 14px;
  text-align: left;
}
.vault-link {
  height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:20px;
}